.collection {
    width: 100vw;
    position: relative;

    &__top {
        position: relative;
        z-index: 0;
        top: -20px;
        display: block;
        width: 100vw;
        height: 600px;
        background: linear-gradient(to bottom, rgb(16, 17, 26), transparent 30%, transparent 80%, rgb(25, 26, 49) 95%),
            url('../../public/assets/ground-below.png');
        background-size: contain;
        opacity: 0.5;
    }

    &__grid {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__grid-item {
        display: flex;
        flex-direction: column;


        button {
            @include pixel-border;
            border-image-outset: 11px;
            color: inherit;
            font-size: 20px;
            padding: 20px 5px;
            display: flex;
            align-self: center;
            width: calc(100% - 20px);
            justify-content: center;

            &:hover {
                transition: transform 0s;
                color: inherit;
                transform: translateY(5px);
            }
        }
    }

    &__grid img {
        height: calc(100% - 63px);
        display: flex;
        align-self: center;
    }

    &__grid-item {
        height: 25vw;
        min-width: 250px;
        margin: 20px 10px;
    }

    &__grid-item img {
        transform: translateY(0vh);
        // @include animate-hovering(7);
    }

    &__grid-item:nth-child(2n) img {
        // @include animate-hovering(10.5);
    }

    &__grid-item:nth-child(3n) img {
        // @include animate-hovering(12);
    }

    &__grid-item:nth-child(3n+1) img {
        // @include animate-hovering(8.75);
    }
}