.mint {
    height: 100vh;

    .reaper {
        position: absolute;
        left: 0;
        z-index: 20;
        bottom: 0%;
        height: 60vh;

        img {
            height: 100%;
        }
    }

    &-main {
        padding: 50px 0px;
    }

    .canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: calc(100vh + 50px);
        overflow: hidden;
    }
    .canvas__elements {
        height: 50vh;
        width: 80vw;
        top: 0;
        margin-top: 0px;

        img {
            height: 100%;
        }
    }

    .canvas__btm {
        position: absolute;
        width: 100vw;
        // overflow-x: hidden;
        height: 50vh;
        z-index: 0;
        bottom: 0;
        left: 0;
        background: url('../public/assets/ground.png');
        background-repeat: repeat-x;
        opacity: 0.5;
        animation: animate-elements 3s linear infinite alternate;

        &:after {
            position: inherit;
            z-index: -10;
            transform: scaleY(-1);
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            top: -10px;
            background-image: url('../public/assets/ground.png');
            background-repeat: repeat-x;
            background-position: cover;
        }

        &-trees {
            display: block;
            background-image: url('../public/assets/tree.png');
            background-size: contain;
            top: -700px;
            left: 0;
            position: inherit;
            transform-origin: bottom left;
            height: 800px;
            width: 150vw;
        }

        &-trees:first-child {
            filter: url(#blue-wash);
            transform: scale(0.8);
        }

        &-trees:nth-child(2) {
            filter: url(#blue-wash);
            // filter: hue-rotate(50deg);
            background-position-x: 450px;
            transform: scale(0.8);
        }

        &-trees:nth-child(3) {
            top: -550px;
            background-position-x: 100px;
            transform: scale(0.85);
            filter: hue-rotate(20deg);
        }

        &-trees:nth-child(4) {
            top: -500px;
            background-position-x: -300px;
            transform: scale(1);
        }

        &-graves {
            display: block;
            background-image: url('../public/assets/grave.png');
            background-size: contain;
            bottom: calc(20vh + 50px);
            left: 0;
            position: inherit;
            transform-origin: bottom left;
            height: 300px;
            width: 150vw;
        }

        &-graves:last-child {
            bottom: calc(5vh + 50px);
            background-position-x: 2%;
        }
    }
}