@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Press+Start+2P&display=swap');

@mixin pixel-font {
    font-family: 'Press Start 2P', cursive;
}

@mixin standard-font {
    font-family: 'Jolly Lodger', cursive;
    color: rgb(150, 150, 150);
}