@import './mixins.scss';
@import './fonts.scss';
@import './animation.scss';
@import '../components/components.scss';
@import '../pages/mint.scss';


input:focus, textarea:focus, select:focus{
  outline: none;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

header {
  position: absolute;
  top: 0;
}

@keyframes animate-lightning {
  0% {
    opacity: 0;
    transform: translateX(0) scale(1, 0.8);
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
    transform: translateX(0) scale(1, 0.8);
  }

  37% {
    opacity: 0;
    transform: translateX(-20vw) scale(-1, 1);
  }

  48% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translateX(-20vw) scale(-1, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(0) scaleX(1, 0.8);
  }
}

header {
  padding: 10px 40px;
}

@keyframes animate-elements {
  0% {
    opacity: 0.5;
  }

  24% {
    opacity: 0.5;
  }

  25% {
    opacity: 1;
  }

  34% {
    opacity: 1;
  }

  35% {
    opacity: 0.5;
  }

  37% {
    opacity: 0.5;
  }

  39% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes move-ghosts {
  0% {
    transform: translate(0vw, 0vh);
  }

  10% {
    transform: translate(15vw, -2vh);
  }

  20% {
    transform: translate(30vw, 2vh);
  }

  30% {
    transform: translate(45vw, -1vh);
  }

  40% {
    transform: translate(60vw, 1vh);
  }

  50% {
    transform: translate(75vw, 3vh);
  }

  60% {
    transform: translate(90vw, -3vh);
  }

  70% {
    transform: translate(105vw, 3vh);
  }

  80% {
    transform: translate(120vw, 0vh);
  }

  100% {
    transform: translate(120vw, 0vh);
  }
}

@keyframes move-ghosts-to-left {
  100% {
    transform: translate(0vw, 0vh) scaleX(-1);
  }

  90% {
    transform: translate(15vw, -2vh) scaleX(-1);
  }

  80% {
    transform: translate(30vw, 2vh) scaleX(-1);
  }

  70% {
    transform: translate(45vw, -1vh) scaleX(-1);
  }

  60% {
    transform: translate(60vw, 1vh) scaleX(-1);
  }

  50% {
    transform: translate(75vw, 3vh) scaleX(-1);
  }

  40% {
    transform: translate(90vw, -3vh) scaleX(-1);
  }

  30% {
    transform: translate(105vw, 3vh) scaleX(-1);
  }

  20% {
    transform: translate(120vw, 0vh) scaleX(-1);
  }

  0% {
    transform: translate(120vw, 0vh) scaleX(-1);
  }
}


@keyframes hide-and-show {
  0% {
    opacity: 0;
  }

  49.9% {
    opacity: 0;
  }

  50.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* @keyframes show-and-hide {
  0% {
    opacity: 1;
  }

  49.9% {
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(to bottom, rgb(16, 17, 26), rgb(25, 26, 49));
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100vw;

  @include standard-font;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: 'Jolly Lodger', cursive;
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 200px;
  margin: 0px;
}

h2 {
  font-size: 50px;
  margin: 0px;
  text-align: center;
}

hgroup {
  animation: animate-elements 3s linear infinite;
  opacity: 0.5;
}

.canvas__elements {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.canvas__elements img {
  max-height: 100vh;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  transform-origin: top center;
  animation: animate-lightning 3s linear infinite alternate;
}

// .claim .canvas__elements {
.canvas__elements {
  max-width: 50vh;
  left: 0px;
  right: 0px;
  margin: auto;
}

.claim .canvas__elements img {
// .canvas__elements img {
  max-height: 55vh;
  position: absolute;
  z-index: 0;
  top: 0;
  /* right: 20vw; */
  transform-origin: top center;
  animation: animate-lightning 3s linear infinite;
}

.canvas__ghosts {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  bottom: 0;
  left: 0;
  /* animation: animate-elements 3s linear infinite; */
  opacity: 0.5;
}

.canvas__ghosts img {
  position: absolute;
  height: 100px;
  left: -10vw;
  top: 2vw;
  animation: move-ghosts 20s linear infinite;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 25px;
  }

  .canvas__ghosts img {
    height: 50px;
  }
}

.canvas__ghosts img:nth-child(2) {
  position: absolute;
  top: calc(2vw + 1*(110px));
  animation: move-ghosts 15s linear infinite;
}

.canvas__ghosts img:nth-child(3) {
  position: absolute;
  top: calc(2vw + 2*(110px));
  animation: move-ghosts-to-left 15s linear infinite;
}

.canvas__ghosts img:last-child {
  position: absolute;
  top: unset;
  bottom: 200px;
  animation: move-ghosts-to-left 12s linear infinite;
}

/* .canvas__elements img:last-child {
  left: 50vw;
  animation: animate-lightning 3s linear infinite;

} */

.canvas__btm {
  position: absolute;
  width: 100vw;
  height: 100px;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: url('../public/assets/ground.png');
  background-repeat: repeat-x;
  opacity: 0.5;

  animation: animate-elements 3s linear infinite;
}

/* .canvas__btm img {
  position: inherit;
  bottom: 50px;
} */

/* .canvas__btm img:last-child {
  left: 50vw;
  transform: scaleX(-1);
} */

.canvas__bg {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.claim .canvas__btm {
  position: absolute;
  width: 100vw;
  height: 50vh;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: url('../public/assets/ground.png');
  background-repeat: repeat;
  opacity: 0.5;

  /* animation: animate-elements 3s linear infinite; */
}


.claim .canvas__btm:after {
  position: inherit;
  z-index: -10;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 20px;
  background-image: url('../public/assets/ground.png');
  background-repeat: repeat;
  background-position: cover;
}

.claim .canvas__btm-tree {
  left: 0vw;
  position: inherit;
  z-index: 20;
  bottom: 40vh;
  height: 50vh;
}

.claim .canvas__btm-tree:last-child {
  right: 0vw;
  height: 60vh;
  left: unset;
  bottom: 30vh;
  transform: scaleX(-1);
}

.claim .canvas__btm-reaper {
  position: inherit;
  left: 0vw;
  height: 60vh;
  bottom: 10vh;
  z-index: 100;
}

.claim .canvas__btm-reaper-img {
  position: inherit;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.claim .canvas__btm-reaper-img:last-child {
  opacity: 0;
}

.claim .canvas__bg {
  position: absolute;
  bottom: unset;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 50vh;
}

.canvas__btm-grave {
  position: relative;
  width: 20vw;
  min-width: 300px;
  z-index: 100;
  left: 40vw;
  bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas__btm-grave-text {
  width: calc(100% - 130px);
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% - 5px), -50%);
  color: #2C2925;
  font-size: 30px;

  text-shadow: -2px -2px #5A585A,
    2px 2px #aaa3aa;
}

.canvas__btm-grave-text p {
  margin: 10px;
}

.canvas__btm-grave-img {
  width: 100%;
  position: inherit;
  top: 0;
  left: 10px;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@media screen and (min-width: 600px) {
  .canvas__btm-reaper--animated .canvas__btm-reaper-img:first-child {
    animation: hide-and-show 2s linear infinite;
  }

  .canvas__btm-reaper--animated .canvas__btm-reaper-img:last-child {
    animation: hide-and-show 2s linear infinite reverse;
  }

}

button {
  background-color: transparent;
  padding: 5px 40px;
  color: #2C2925;
  border: 6px solid #aaa3aa;
  border-right: 0px;
  border-bottom: 0px;
  text-shadow: -2px -2px #5A585A,
    2px 2px #aaa3aa;

  box-shadow: 4px 4px 0 4px #5A585A;
}

.connect-wallet {
  padding: 5px 20px;
  font-size: 30px;
}

button span {
  display: inline-block;
  transform: scale(1);
}


button:hover {
  border-color: #5A585A;
  box-shadow: 4px 4px 0 4px #aaa3aa;
  cursor: pointer;
}

button:hover span {
  transform: scale(0.95);
}

@media screen and (max-width: 600px) {
  .canvas__btm-grave {
    min-width: 250px;
    bottom: 10vh;
    left: unset;
    margin-right: 0;
    margin-left: auto;
    z-index: 200;
  }

  button {
    padding: 5px 10px;
    font-size: 20px;
  }

  .claim .canvas__btm-reaper {
    height: 60vh;
    bottom: 20vh;
    left: -10vh
  }

  .claim .canvas__btm-tree:last-child {
    display: none;
  }
}